.hero-unit
  %h1 Print Your Website
  %p 
    No more annoying screenshots just your REAL website as printable PDF's
  %br
  -if @status 
    .alert.alert-danger
      %strong
        %i.icon-fire
        Hmmm 
      %a{:href => "#{params['url']}"} #{params['url']}
      Took too long to respond or does not exist!
      Check the address and try again!
      :javascript
        mixpanel.track('URL Failed',{'url': '#{params['url']}' });
        
  %form#url-lookup.form-inline{:method => :post, :action => "/prepare"}
    .control-group
      .controls
        %input#url-lookup.super{:name => :url, :placeholder => "Enter a url location (e.g. http://www.cnn.com)", :value => "#{params["url"] if params["url"]  }"}
        %input#url-lookup-submit.btn.btn-primary.btn-large.disabled{:type => :submit, :value => "PDF it"} 
  .offset5.span3
    #status.hide{:style => "padding-top:20px;"}
%h3 Examples
%ul.thumbnails
  -4.times do |i|
    %li.span3
      %a.thumbnail{:class => "to_prevew_modal", :href => "/img/preview-#{i+1}.jpeg", :target => :blank}
        %img{:alt => "", :src => "/img/thumbs/preview-#{i+1}.jpg"}


!= haml :footer
:erb
  <!-- begin olark code --><script type='text/javascript'>/*{literal}<![CDATA[*/
  window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('4379-1434713-10-8892');/*]]>{/literal}*/</script>
  <!-- end olark code -->