.hero-unit
  %h1 PDF this Domain
  %p 
    This will create a set of PDFs for a given url.   
  %br
  -if @status 
    .alert.alert-danger
      %strong Hmmm
      Something Appears to have gone wrong when we tried to look up 
      %a{:href => "#{params['url']}"} #{params['url']}
      Check the address and try again!
  %form#url-lookup.form-inline{:method => :post, :action => "/prepare"}
    .control-group
      .controls
        %input#url-lookup.super{:name => :url , :value => "#{"http://" unless params['url']}#{params["url"] if params["url"]  }", :placeholder => "URL"}
        %input.btn.btn-primary.btn-large{:type => :submit, :value => "PDF it"} 
  .status.span12
    %br
    #status.hide
!= haml :footer


