.hero-unit
  %h1 PDF this Domain
  %p 
    This will create a set of PDFs for a given url.   It will follow the top 10 links in your domain. 
  %br
  -if params["url"]   
    %h2
      URLs to Render
      %small 
        Remaining: 
        %span#remaining 0
      .pull-right
        %h3
          Cost:
          %span#cost Free!
          %a.btn{:href => "/"} New URL
          %a#select-all.btn{:href => "#", "data-toggle"=>"button"} Select All
          %a#purchase.hide_free.btn-success.btn{:href => "#"}
            %i.icon-shopping-cart.icon-white
            Buy
    %br
    %form{:id => "prepare-form", :action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => "post"}
      .hide.well 
        %h5 Options
        .form-inline
          %label Margins
          %input.span1{:placeholder => "Left", :name => :left_margin}
          %input.span1{:placeholder => "Right", :name => :right_margin}
          %input.span1{:placeholder => "Top", :name => :top_margin}
          %input.span1{:placeholder => "Bottom", :name => :bottom_margin}
          %label.control-label Show Background
          %input{:type => :checkbox} 
      .well
        -@processed_urls.each_with_index do |link , i|
          .url.alert{:class => "#{"alert-success" if i <= @limit }#{"alert-danger" if i > @limit; }"}
            %input.urls{:type => :checkbox, :name => "urls[#{i}]" , :value => "#{link}" , "#{'checked' if i <= @limit}" => ""}
            #{link} 
            .pull-right
              %a{:href => link, :target => :blank, :style => "opacity:.5"}
                %i.icon-share-alt
        .control-group
          %label.control-label.hide.hide_cost Email
          .controls       
            %input{:name => "business", :type => "hidden", :value => "russel_1335151944_biz@iapptrust.com"}
            %input{:name => "no_note", :type => "hidden", :value => "1"}
            %input{:name => "no_shipping", :type => "hidden", :value => "1"}
            %input{:name => "notify_url", :type => "hidden", :value => "http://requestb.in/1hff8bp1"}
            %input{:name => "rm", :type => "hidden", :value => "2"}
            %input{:name => "return", :type => "hidden", :value => "http://#{request.host_with_port}/process"}
            %input{:name => "cmd", :type => "hidden", :value => "_xclick"}
            %input{:name => "item_name", :type => "hidden", :value => "URL Rendering Service"}
            %input#purchase_amount{:name => "quantity", :type => "hidden", :value => "3"}
            %input{:name => "amount", :type => "hidden", :value => ".10"}
            %input{:name => "currency_code", :type => "hidden", :value => "USD"}
            %input.hide_cost.hide.super{:type => :email, :name => :email , :placeholder => "So we can send you your PDF's!"}
            %input.hide_cost.hide.btn.btn-danger.btn-large{:type => :submit, :value => "Do It!"}
            %input.catch.hide_free.hide.pay-btn.btn.btn-success.btn-large{ :type => :submit, :value => "Buy!"}
      
!= haml :footer

