.hero-unit
  .alert.alert-info.alert-block
    %strong Heads Up!
    Your PDFs will be approximation of the webpages you select.  Various web technologies will cause the PDF to render poorly or not at all. 
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
  -if !@processed_urls.empty?   
    %h2
      URLs to Render
      %small 
        Remaining: 
        %span#remaining 0
      .pull-right
        %h3
          Cost:
          %span#cost Free!
          %a.btn{:href => "/"} New URL
          %a#select-all.btn{:href => "#", "data-toggle"=>"button"} Select All
    %br
    %form{:id => "prepare-form", :action => "https://www.sandbox.paypal.com/cgi-bin/webscr", :method => "post"}
      .well
        %label.hide_cost Your Email 
        .control-group.input-success
          %input.hide_cost.hide.super.input-success{:type => :email, :name => :email , :placeholder => "An Email we can send you your PDF's!"}
          %input#free_submit.hide_cost.hide.btn.btn-success.btn-large.disabled{:type => :submit, :value => "Render!"}
        %input.catch.hide_free.hide.pay-btn.btn.btn-success.btn-large{ :type => :submit, :value => "Buy!"}
      .hide.well 
        %h5 Options
        .form-inline
          %label.control-label Show Background
          %input{:type => :checkbox,:name => "options[show_background]" , "checked" => "" , :value => 1}
          %label Margins
          .input-prepend
            %span.add-on L
            %input.span1{:placeholder => "Left", :name => "options[margin][left]", :value => 0}
          .input-prepend
            %span.add-on R
            %input.span1{:placeholder => "Right", :name => "options[margin][right]", :value => 0}
          .input-prepend
            %span.add-on T
            %input.span1{:placeholder => "Top", :name => "options[margin][top]", :value => 0}
          .input-prepend
            %span.add-on B
            %input.span1{:placeholder => "Bottom", :name => "options[margin][bottom]", :value => 0}
          
      .well
        -@processed_urls.each_with_index do |link , i|
          .url.alert{:class => "#{"alert-success" if i <= @limit }#{"alert-danger" if i > @limit; }"}
            %input.urls{:type => :checkbox, :name => "urls[#{i}]" , :value => "#{link}" , "#{'checked' if i <= @limit}" => ""}
            #{link} 
            .pull-right
              -if i == 0 || i == 2
                %btn{:href => "/preview?url=#{link}", :style => "opacity:.8", :class => "btn-mini btn to_modal", "data-loading-text"=>"rendering"}
                  %i.icon-share
                  Preview
              %a{:href => link, :target => :blank, :style => "opacity:.5", :class=> "btn-mini btn"}
                %i.icon-share-alt
                View Link
        .control-group
          .controls       
            %input{:name => "business", :type => "hidden", :value => "VDW4BG32T2X3S"}
            %input{:name => "no_note", :type => "hidden", :value => "1"}
            %input{:name => "no_shipping", :type => "hidden", :value => "1"}
            %input{:name => "notify_url", :type => "hidden", :value => "http://requestb.in/1hff8bp1"}
            %input{:name => "rm", :type => "hidden", :value => "2"}
            %input{:name => "return", :type => "hidden", :value => "http://#{request.host_with_port}/process"}
            %input{:name => "cmd", :type => "hidden", :value => "_xclick"}
            %input{:name => "item_name", :type => "hidden", :value => "URL Rendering Service"}
            %input#purchase_amount{:name => "quantity", :type => "hidden", :value => "3"}
            %input{:name => "amount", :type => "hidden", :value => ".10"}
            %input{:name => "currency_code", :type => "hidden", :value => "USD"}
  -else
    .alert.alert-danger.alert-block
      We were unable to retrieve any active links off your site. Try contacting support via the chat window below!  
    
            

!= haml :footer

